<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Title -->
    <title>嘉盼资产</title>

    <!-- Required Meta Tags Always Come First -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="x-ua-compatible" content="ie=edge">

    <!-- Favicon -->
    <link rel="shortcut icon" href="__PUBLIC__/assets/img/favicon.ico">

    <!-- Google Fonts -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans%3A300%2C400%2C500%2C600%2C700%2C800%7CPlayfair+Display%7CRoboto%7CRaleway%7CSpectral%7CRubik">

    <!-- CSS Global Compulsory -->
    <link rel="stylesheet" href="__PUBLIC__/assets/vendor/bootstrap/bootstrap.min.css?v=1.0">

    <!-- CSS Implementing Plugins -->
    <link rel="stylesheet" href="__PUBLIC__/assets/vendor/icon-awesome/css/font-awesome.min.css?v=1.0">
    <link rel="stylesheet" href="__PUBLIC__/assets/vendor/icon-line/css/simple-line-icons.css?v=1.0">
    <link rel="stylesheet" href="__PUBLIC__/assets/vendor/icon-hs/style.css?v=1.0">
    <link rel="stylesheet" href="__PUBLIC__/assets/vendor/hamburgers/hamburgers.min.css?v=1.0">
    <link rel="stylesheet" href="__PUBLIC__/assets/vendor/animate.css?v=1.0">
    <link rel="stylesheet" href="__PUBLIC__/assets/vendor/slick-carousel/slick/slick.css?v=1.0">

    <!-- CSS Template -->
    <link rel="stylesheet" href="__PUBLIC__/assets/css/styles.op-architecture.css?v=1.0">

    <!-- CSS Customization -->
    <link rel="stylesheet" href="__PUBLIC__/assets/css/custom.css?v=1.0">

    <!-- CSS new-->
    <link rel="stylesheet" href="__PUBLIC__/assets/css/new.css?v=1.0">
  </head>

  <body>
    <main>
      <!-- Header v1 -->
      <header id="js-header" class="u-header u-header--sticky-top u-header--change-appearance"
              data-header-fix-moment="100">
        <div class="dark-theme u-header__section g-bg-black-opacity-0_4 g-transition-0_3 g-py-8 g-py-17--md"
             data-header-fix-moment-exclude="dark-theme g-bg-black-opacity-0_4 g-py-17--md"
             data-header-fix-moment-classes="light-theme u-theme-shadow-v1 g-bg-white g-py-10--md">
          <nav class="navbar navbar-expand-lg p-0 g-px-15">
            <div class="container g-pos-rel">
              <a href="/" class="g-hidden-lg-up navbar-brand mr-0">
                <img class="d-block g-width-140 g-width-160--md" src="__PUBLIC__/assets/img/JPLOGO.png" alt="Image Description"
                     data-header-fix-moment-exclude="d-block"
                     data-header-fix-moment-classes="d-none">

                <img class="d-none g-width-140 g-width-160--md" src="__PUBLIC__/assets/img/JPLOGO.png" alt="Image Description"
                     data-header-fix-moment-exclude="d-none"
                     data-header-fix-moment-classes="d-block">
              </a>

              <!-- Navigation -->
              <div class="collapse navbar-collapse align-items-center flex-sm-row" id="navBar">
                <ul class="js-scroll-nav navbar-nav align-items-lg-center text-uppercase g-font-weight-700 g-letter-spacing-1 g-font-size-15 g-pt-20 g-pt-0--lg mx-auto"
                    data-splitted-breakpoint="992">
                  <li class="nav-item g-mr-30--lg g-mb-7 g-mb-0--lg active">
                    <a href="#home" class="nav-link p-0">首页<span class="sr-only">(current)</span></a>
                  </li>
                  <li class="nav-item g-mx-30--lg g-mb-7 g-mb-0--lg">
                    <a href="#about" class="nav-link p-0">关于嘉盼</a>
                  </li>
                  <li class="nav-item g-mx-30--lg g-mb-7 g-mb-0--lg">
                    <!-- <a href="#product" class="nav-link p-0">产品与服务</a> -->
                    <a href="#team" class="nav-link p-0">管理团队</a>
                  </li>

                  <!-- Logo -->
                  <li class="g-hidden-lg-down nav-logo-item g-mx-15--lg">
                    <a href="/" class="js-go-to navbar-brand mr-0"
                       data-type="static">
                      <img class="d-block g-width-140 g-width-160--md" src="__PUBLIC__/assets/img/JPLOGO.png" alt="Image Description"
                           data-header-fix-moment-exclude="d-block"
                           data-header-fix-moment-classes="d-none">

                      <img class="d-none g-width-140 g-width-160--md" src="__PUBLIC__/assets/img/JPLOGO.png" alt="Image Description"
                           data-header-fix-moment-exclude="d-none"
                           data-header-fix-moment-classes="d-block">
                    </a>
                  </li>
                  <!-- End Logo -->

                  <li class="nav-item g-mx-30--lg g-mb-7 g-mb-0--lg">
                    <!-- <a href="#team" class="nav-link p-0">管理团队</a> -->
                    <a href="#product" class="nav-link p-0">产品与服务</a>
                  </li>
                  <li class="nav-item g-mx-30--lg g-mb-7 g-mb-0--lg">
                    <a href="#processes" class="nav-link p-0">嘉盼动态</a>
                  </li>
                  <li class="nav-item g-ml-30--lg">
                    <a href="#contact" class="nav-link p-0">联系我们</a>
                  </li>
                </ul>
              </div>
              <!-- End Navigation -->

              <!-- Responsive Toggle Button -->
              <button class="navbar-toggler btn g-line-height-1 g-brd-none g-pa-0 g-pos-abs g-top-15 g-right-0" type="button"
                      aria-label="Toggle navigation"
                      aria-expanded="false"
                      aria-controls="navBar"
                      data-toggle="collapse"
                      data-target="#navBar">
                <span class="hamburger hamburger--slider">
                  <span class="hamburger-box">
                    <span class="hamburger-inner"></span>
                  </span>
                </span>
              </button>
              <!-- End Responsive Toggle Button -->
            </div>
          </nav>
        </div>
      </header>
      <!-- End Header v1 -->

      <!-- 首页 -->
      <section id="home" class="u-bg-overlay g-pos-rel g-theme-bg-blue-dark-v1-opacity-0_8--after">
        <div class="js-carousel"
             data-autoplay="true"
             data-infinite="true"
             data-fade="true"
             data-speed="5000">
          <div class="js-slide g-bg-img-hero g-height-100vh" style="background-image: url(__PUBLIC__/assets/img-temp/1600x1060/img1.jpg);"></div>

          <div class="js-slide g-bg-img-hero g-height-100vh" style="background-image: url(__PUBLIC__/assets/img-temp/1600x1060/img2.jpg);"></div>
        </div>

        <div class="u-bg-overlay__inner g-absolute-centered w-100">
          <div class="container text-center g-max-width-750">
            <div class="text-uppercase u-heading-v2-4--bottom u-promo-title g-brd-primary">
              <!-- <h3 class="h3 g-letter-spacing-7 g-font-size-12 g-font-weight-400 g-color-white g-mb-25">Architecture company</h3> -->
              <h2 class="u-heading-v2__title g-line-height-1 g-letter-spacing-3 g-font-size-75 g-color-white mb-0">携手嘉盼 国泰民安</h2>
            </div>
          </div>
        </div>
      </section>
      <!-- 首页结束 -->

      <!--关于-->
      <section id="about" class="g-pt-100 g-pb-100--md">
        <div class="container text-center g-max-width-750 g-mb-70">
          <div class="text-uppercase u-heading-v2-4--bottom g-brd-primary">
            <h3 class="h3 g-letter-spacing-5 g-font-size-12 g-font-weight-400 g-color-primary g-mb-25">关于嘉盼</h3>
            <h2 class="u-heading-v2__title g-line-height-1 g-letter-spacing-2 g-font-size-30 g-font-size-40--md mb-0">公司介绍</h2>
          </div>
        </div>

        <div class="container px-0 mobile-container-about">
          <!-- Row -->
          <div class="row no-gutters">
            <div class="col-md-6 col-lg-6 mobile-align-block-about">
              
              <div class="g-bg-img-hero">
                <div class="g-theme-bg-blue-dark-v3 g-opacity-1 g-opacity-0_8--hover g-py-50 g-px-15 g-pa-100-30--sm g-transition-0_2 g-transition--ease-in color-about-main">
                  <span class="d-block g-line-height-1 g-font-size-30 g-color-primary g-mb-20">
                    <i class="fa fa-user-circle-o"></i>
                  </span>
                  <h3 class="text-uppercase g-line-height-1_2 g-font-weight-700 g-color-white g-mb-25">我们是谁</h3>
                  <p class="g-font-size-13 g-color-white-opacity-0_7 g-mb-30 size-text-about">上海嘉盼资产管理有限公司(以下简称：嘉盼资产)创立于2015年11月，公司总部位于上海北外滩金融中心，核心管理团队均来自于证券公司，信托公司等知名金融机构或互联网公司。嘉盼资产成功汇聚了资本运作领域的众多资深专家，在金融产品分析，风险建模领域拥有丰富的经验。</p>
                </div>
              </div>
            </div>

            <div class="col-md-6 col-lg-6 mobile-align-block-about">
                <div class="g-bg-img-hero">
                <div class="g-theme-bg-blue-dark-v4 g-opacity-1 g-opacity-0_8--hover g-py-50 g-px-15 g-pa-100-30--sm g-transition-0_2 g-transition--ease-in color-about-main">
                  <span class="d-block g-line-height-1 g-font-size-30 g-color-primary g-mb-20">
                    <i class="fa fa-users"></i>
                  </span>
                  <h3 class="text-uppercase g-line-height-1_2 g-font-weight-700 g-color-white g-mb-25">我们的理念</h3>
                  <p class="g-font-size-13 g-color-white-opacity-0_7 g-mb-30 size-text-about">嘉盼资产坚信产品为先，竭诚服务于客户，提供高度精品化和定制化的资产配置定制方案。嘉盼资产同时提供不同维度的高品质增值服务，致力于成为客户的资本市场长期伙伴。</p>
                </div>
              </div>
            </div>


          </div>
          <!-- End Row -->
        </div>
      </section>
      <!-- 关于结束 -->


      <!-- Section Content -->
      <section id="team" class="g-theme-bg-blue-dark-v1 g-py-100">
        <div class="container text-center g-max-width-750 g-mb-70">
          <div class="text-uppercase u-heading-v2-4--bottom g-brd-primary g-mb-30">
            <h3 class="h3 g-letter-spacing-5 g-font-size-12 g-font-weight-400 g-color-primary g-mb-25">管理团队</h3>
            <h2 class="u-heading-v2__title g-line-height-1 g-letter-spacing-2 g-font-size-30 g-font-size-40--md g-color-white mb-0">最专业的资深团队就在您身边</h2>
          </div>
        </div>

        <div class="container">

          <!-- Team Block -->
          <div class="g-mx-minus-9--sm">
            <div class="js-carousel"
                 data-slides-show="3"
                 data-infinite="true"
                 data-arrows-classes="u-arrow-v1 g-pos-abs g-top-35x g-width-45 g-height-45 g-color-white g-theme-bg-blue-dark-v2 g-bg-primary--hover g-rounded-50x g-transition-0_2 g-transition--ease-in"
                 data-arrow-left-classes="fa fa-chevron-left g-left-0 g-ml-minus-15"
                 data-arrow-right-classes="fa fa-chevron-right g-right-0 g-mr-minus-15"
                 data-responsive='[{
                   "breakpoint": 1200,
                   "settings": {
                     "slidesToShow": 3,
                     "slidesToScroll": 3
                   }
                 }, {
                   "breakpoint": 768,
                   "settings": {
                     "slidesToShow": 2,
                     "slidesToScroll": 2
                   }
                 }, {
                   "breakpoint": 576,
                   "settings": {
                     "slidesToShow": 1,
                     "slidesToScroll": 1
                   }
                 }]'>
              <div class="js-slide g-px-5">
                <!-- Figure -->
                <figure class="text-center">
                  <!-- Figure Image -->
                  <img class="w-100 g-mb-35" src="__PUBLIC__/assets/img-temp/600x605/img2.png" alt="Image Description">
                  <!-- End Figure Image -->

                  <!-- Figure Info -->
                  <div class="text-uppercase g-mb-20">
                    <h4 class="g-letter-spacing-2 g-font-size-11 g-theme-color-gray-dark-v3 g-mb-10"></h4>
                    <h2 class="g-font-weight-600 g-font-size-18 g-color-white">合规风控</h2>
                  </div>
                  <!-- End Figure Info -->

                  <!-- Figure Social Icons -->
                </figure>
                <!-- End Figure -->
              </div>

              <div class="js-slide g-px-5">
                <!-- Figure -->
                <figure class="text-center">
                  <!-- Figure Image -->
                  <img class="w-100 g-mb-35" src="__PUBLIC__/assets/img-temp/600x605/img1.png" alt="Image Description">
                  <!-- End Figure Image -->

                  <!-- Figure Info -->
                  <div class="text-uppercase g-mb-20">
                    <h4 class="g-letter-spacing-2 g-font-size-11 g-theme-color-gray-dark-v3 g-mb-10"></h4>
                    <h2 class="g-font-weight-600 g-font-size-18 g-color-white">产品研发</h2>
                  </div>
                  <!-- End Figure Info -->

                  <!-- Figure Social Icons -->
                  
                  <!-- End Figure Social Icons -->
                </figure>
                <!-- End Figure -->
              </div>

              <div class="js-slide g-px-5">
                <!-- Figure -->
                <figure class="text-center">
                  <!-- Figure Image -->
                  <img class="w-100 g-mb-35" src="__PUBLIC__/assets/img-temp/600x605/img3.jpg" alt="Image Description">
                  <!-- End Figure Image -->

                  <!-- Figure Info -->
                  <div class="text-uppercase g-mb-20">
                    <h4 class="g-letter-spacing-2 g-font-size-11 g-theme-color-gray-dark-v3 g-mb-10"></h4>
                    <h2 class="g-font-weight-600 g-font-size-18 g-color-white">理财顾问</h2>
                  </div>
                  <!-- End Figure Info -->

                  <!-- Figure Social Icons -->

                  <!-- End Figure Social Icons -->
                </figure>
                <!-- End Figure -->
              </div>


            </div>
          </div>
          <!-- End Team Block -->
        </div>
      </section>
      <!-- End Section Content -->

<!-- 产品与服务 -->
<section id="product" class="g-pt-100 g-pb-100--md">
        <div class="container text-center g-max-width-750 g-mb-70">
          <div class="text-uppercase u-heading-v2-4--bottom g-brd-primary">
            <h3 class="h3 g-letter-spacing-5 g-font-size-12 g-font-weight-400 g-color-primary g-mb-25">产品与服务</h3>
            <h2 class="u-heading-v2__title g-line-height-1 g-letter-spacing-2 g-font-size-30 g-font-size-40--md mb-0">两大特色业务</h2>
          </div>
        </div>

        <div class="container px-0 mobile-container-product">
          <!-- Row -->
          <div class="row no-gutters">
            <div class="col-md-6 col-lg-3 center-algin-block">
              <div class="g-bg-img-hero">
                <div class="title-product">
                  非标债权融资
                </div>
                <div class="g-theme-bg-blue-dark-v3 g-opacity-1 g-opacity-0_8--hover g-py-50 g-px-15 g-pa-100-30--sm g-transition-0_2 g-transition--ease-in color-product-main">
                  <p class="g-font-size-13 g-color-white-opacity-0_7 g-mb-30 size-text-product">嘉盼资产携手国内各知名金融机构，资产端直接对接政府平台公司、地方国企、央企及其关联公司，为其提供各类融资需求的整体解决方案，构建全方位的金融服务。</p>
                </div>
                
                <img src="__PUBLIC__/assets/img/product_left.png" class="img-product">

              </div>
            </div>

            <div class="col-md-6 col-lg-3 center-algin-block">            
                <div class="g-bg-img-hero">
                  <div class="title-product">
                  第三方财富管理
                  </div>
                <div class="g-theme-bg-blue-dark-v4 g-opacity-1 g-opacity-0_8--hover g-py-50 g-px-15 g-pa-100-30--sm g-transition-0_2 g-transition--ease-in color-product-main">
                  <p class="g-font-size-13 g-color-white-opacity-0_7 g-mb-30 size-text-product">嘉盼资产包销或代销发行包括但不限于信托计划、资产管理计划、契约型基金及定向融资计划等各类金融产品，资金端直接对接具有投资需求的各类投资者，通过了解客户需求、协助规划财富目标及制定财富策略，为客户提供持续稳健的财富管理服务。</p>
                </div>
                  <img src="__PUBLIC__/assets/img/product_right.png" class="img-product">
              </div>
            </div>

          </div>
          <!-- End Row -->
        </div>
      </section>
<!-- 产品与服务结束 -->

      <!-- Section Content -->
      <section id="processes" class="g-py-100">
        <div class="container text-center g-max-width-750 g-mb-70">
          <div class="text-uppercase u-heading-v2-4--bottom g-brd-primary">
            <h3 class="h3 g-letter-spacing-5 g-font-size-12 g-font-weight-400 g-color-primary g-mb-25">嘉盼动态</h3>
            <h2 class="u-heading-v2__title g-line-height-1 g-letter-spacing-2 g-font-size-30 g-font-size-40--md mb-0 processes-title-news">新闻动态</h2>
          </div>
        </div>

        <div class="container">
          <div id="processesTabs" class="tab-content container g-width-630 g-pb-50 g-pb-100--md">
            <div class="tab-pane fade show active" id="discuss" role="tabpanel">
              <img class="img-fluid g-mb-40" src="__PUBLIC__/assets/img-temp/1024x683/img1.jpg" alt="Image description">

              <div class="container text-center g-max-width-550">
                <h4 class="text-uppercase g-font-weight-700 g-font-size-18 g-mb-15 processes-titles">2017中华企业社会责任论坛</h4>
                <p class="g-font-size-default mb-0 processes-titles-main">嘉盼资产法人张梅蓉，总经理宋巨伟，应邀将于2017年12月17日在深圳出席由深圳市政府主办的2017中华企业社会责任高峰论坛(China Corporate Social Responsibility Forum)，出席此次高峰论坛的除了深圳市相关领导外，还有国内企业高管500多名，媒体40家左右，以及众多相关行业协会负责人与学术界专家。论坛将会在“传播CSR”，“分享CSR成就”，“树立仁商典范”三方面进行探讨。企业社会责任是指企业在创造利润，对股东承担法律责任的同时，还要承担对员工、消费者、社会和环境的责任，企业的社会责任要求企业必须超越把利润作为唯一目标的传统理念，强调要在生产过程中对人的价值的关注，强调对环境、消费者、对社会的贡献。大会还将评选出若干奖项，表彰与激励在行使社会责任中突出的企业。
</p>
              </div>
             <!--  <div class="js-carousel g-pb-40"
                   data-infinite="true"
                   data-pagi-classes="u-carousel-indicators-v1 g-absolute-centered--x g-bottom-0 text-center">
                <div class="js-slide">
                  <img class="img-fluid g-mb-40" src="__PUBLIC__/assets/img-temp/1024x683/img11.jpg" alt="Image description">

                  <div class="container text-center g-max-width-550">
                    <h4 class="text-uppercase g-font-weight-700 g-font-size-18 g-mb-15">员工生日会</h4>
                    <p class="g-font-size-default mb-0">我司的星座生日趴，蛋糕，音乐，鲜花，果汁，欢声笑语，wuli颖颖亲手DIY的心愿盒，除了寿星们悄悄许下的愿望，我也默默许愿:期待和各位一起携手千万！明年一起开
盒还愿！</p>
                  </div>
                </div>

                <div class="js-slide">
                  <img class="img-fluid g-mb-40" src="__PUBLIC__/assets/img-temp/1024x683/img12.jpg" alt="Image description">

                  <div class="container text-center g-max-width-550">
                    <h4 class="text-uppercase g-font-weight-700 g-font-size-18 g-mb-15">员工生日会2</h4>
                    <p class="g-font-size-default mb-0">我司的星座生日趴，蛋糕，音乐，鲜花，果汁，欢声笑语，wuli颖颖亲手DIY的心愿盒，除了寿星们悄悄许下的愿望，我也默默许愿:期待和各位一起携手千万！明年一起开
盒还愿！</p>
                  </div>
                </div>

                <div class="js-slide">
                  <img class="img-fluid g-mb-40" src="__PUBLIC__/assets/img-temp/1024x683/img13.jpg" alt="Image description">

                  <div class="container text-center g-max-width-550">
                    <h4 class="text-uppercase g-font-weight-700 g-font-size-18 g-mb-15">员工生日会3</h4>
                    <p class="g-font-size-default mb-0">我司的星座生日趴，蛋糕，音乐，鲜花，果汁，欢声笑语，wuli颖颖亲手DIY的心愿盒，除了寿星们悄悄许下的愿望，我也默默许愿:期待和各位一起携手千万！明年一起开
盒还愿！</p>
                  </div>
                </div>
              </div> -->
            </div>

            <div class="tab-pane fade" id="creativeConcept" role="tabpanel">
              <img class="img-fluid g-mb-40" src="__PUBLIC__/assets/img-temp/1024x683/img2.jpg" alt="Image description">

              <div class="container text-center g-max-width-550">
                <h4 class="text-uppercase g-font-weight-700 g-font-size-18 g-mb-15 processes-titles">中国国家互联网信息办公室副局长杨秀华亲临嘉盼</h4>
                <p class="g-font-size-default mb-0 processes-titles-main">2017年12月6日上午，嘉盼资产迎来了一位大人物。中国国家互联网信息办公室（正部级单位）杨秀华局长于今日亲临上海嘉盼资产管理有限公司，对我司业务发展进行了关心与指导。杨局强调：要贯彻落实习近平新时代中国特色社会主义思想，维护新时代国家网络与信息安全，为建设富强民主文明和谐美丽的社会主义现代化强国、实现中华民族伟大复兴的中国梦而努力奋斗，积极承担企业的社会主义责任。对于嘉盼资产紧跟国家步伐，积极响应中央号召的做法表示肯定。对嘉盼加强网络空间安全能力给予了指导，并鼓励我们日后要站在国家的高度去维护与履行网络信息安全。</p>
              </div>
            </div>

            <div class="tab-pane fade" id="modeling3D" role="tabpanel">
              <img class="img-fluid g-mb-40" src="__PUBLIC__/assets/img-temp/1024x683/img3.jpg" alt="Image description">

              <div class="container text-center g-max-width-550">
                <h4 class="text-uppercase g-font-weight-700 g-font-size-18 g-mb-15 processes-titles">员工生日会</h4>
                <p class="g-font-size-default mb-0 processes-titles-main">时钟滴滴嗒嗒地走过，十二月带着金黄的落叶，洋洋洒洒地来开了。在这个硕果累累收获的季节，铫鑫控股、嘉盼资产在2017年12月的第一天迎来了本年度第一批寿星。在这寒气渐渐袭来的日子里，行政部的小伙伴们为了给大家带来不一样的视觉与味觉上的体验，可谓花费心思。蛋糕、生日帽、蜡烛、心愿盒、一样都不能少。祝愿过生日的家人们在未来的岁月里，生活快乐，工作顺利！也祝愿铫鑫嘉盼的未来更加美好，让我们齐心协力创造更美好的明天！</p>
              </div>
            </div>

           <!-- <div class="tab-pane fade" id="happyClients" role="tabpanel">
              <img class="img-fluid g-mb-40" src="__PUBLIC__/assets/img-temp/1024x683/img1.jpg" alt="Image description">

              <div class="container text-center g-max-width-550">
                <h4 class="text-uppercase g-font-weight-700 g-font-size-18 g-mb-15">新动态标题</h4>
                <p class="g-font-size-default mb-0">新动态内容</p>
              </div>
            </div> -->
          </div>

          <!-- Nav tabs -->
          <ul class="nav nav-fill text-center justify-content-center flex-md-nowrap u-nav-v8-2" role="tablist"
              data-target="nav-8-2-primary-hor-center"
              data-tabs-mobile-type="slide-up-down"
              data-btn-classes="btn btn-md u-btn-primary btn-block">
            <li class="nav-item">
              <a class="nav-link active" data-toggle="tab" href="#discuss" role="tab">
                <span class="u-nav-v8__icon u-icon-v3 u-icon-size--lg g-font-size-20 g-rounded-50x g-brd-around g-brd-4 g-brd-white">
                  <i class="fa fa-coffee"></i>
                </span>
                <strong class="text-uppercase u-nav-v8__title g-font-size-13 g-mb-5">2017中华企业社会责任论坛</strong>
                <em class="u-nav-v8__description g-color-white-opacity-0_5"></em>
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" data-toggle="tab" href="#creativeConcept" role="tab">
                <span class="u-nav-v8__icon u-icon-v3 u-icon-size--lg g-font-size-20 g-rounded-50x g-brd-around g-brd-4 g-brd-white">
                  <i class="fa fa-pencil"></i>
                </span>
                <strong class="text-uppercase u-nav-v8__title g-font-size-13 g-mb-5">中国国家互联网信息办公室副局长杨秀华亲临嘉盼</strong>
                <em class="u-nav-v8__description g-color-white-opacity-0_5"></em>
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" data-toggle="tab" href="#modeling3D" role="tab">
                <span class="u-nav-v8__icon u-icon-v3 u-icon-size--lg g-font-size-20 g-rounded-50x g-brd-around g-brd-4 g-brd-white">
                  <i class="fa fa-picture-o"></i>
                </span>
                <strong class="text-uppercase u-nav-v8__title g-font-size-13 g-mb-5">员工生日会</strong>
                <em class="u-nav-v8__description g-color-white-opacity-0_5"></em>
              </a>
            </li>
           <!-- <li class="nav-item">
              <a class="nav-link" data-toggle="tab" href="#happyClients" role="tab">
                <span class="u-nav-v8__icon u-icon-v3 u-icon-size--lg g-font-size-20 g-rounded-50x g-brd-around g-brd-4 g-brd-white">
                  <i class="fa fa-heart"></i>
                </span>
                <strong class="text-uppercase u-nav-v8__title g-font-size-13 g-mb-5">新动态</strong>
                <em class="u-nav-v8__description g-color-white-opacity-0_5"></em>
              </a>
            </li> -->
          </ul>
          <!-- End Nav tabs -->
        </div>
      </section>
      <!-- End Section Content -->

      

      <!-- Footer -->
      <footer>

      <!-- 合作商-->
      <section id="testimonials" class="g-theme-bg-blue-dark-v1 g-py-80">
        <div class="container">
          <div class="row">
            <div class="col-lg-12 g-mb-40 g-mb-0--lg">
              <div class="g-overflow-hidden">
                <div class="row text-center no-gutters g-ml-minus-1 g-mb-minus-1">
                  <div class="col-md-2 mobile-xs-6">
                    <div class="g-brd-left g-brd-bottom g-theme-brd-blue-dark-v5 g-py-60 testimonials-img-border img-border-bottom">
                      <a href="http://www.crecg.com/">
                        <img class="img-fluid g-opacity-0_7 g-opacity-1--hover g-transition-0_2" src="__PUBLIC__/assets/img-temp/Xx72/partner1.png" alt="Image Description">
                      </a>
                    </div>
                  </div>

                  <div class="col-md-2 mobile-xs-6">
                    <div class="g-brd-left g-brd-bottom g-theme-brd-blue-dark-v5 g-py-60 testimonials-img-border img-border-bottom">
                      <a href="http://www.ccb.com">
                        <img class="img-fluid g-opacity-0_7 g-opacity-1--hover g-transition-0_2" src="__PUBLIC__/assets/img-temp/Xx72/partner2.png" alt="Image Description">
                      </a>
                    </div>
                  </div>

                  <div class="col-md-2 mobile-xs-6">
                    <div class="g-brd-left g-brd-bottom g-theme-brd-blue-dark-v5 g-py-60 testimonials-img-border img-border-bottom">
                      <a href="http://www.citicbank.com/">
                      <img class="img-fluid g-opacity-0_7 g-opacity-1--hover g-transition-0_2" src="__PUBLIC__/assets/img-temp/Xx72/partner3.png" alt="Image Description">
                      </a>
                    </div>
                  </div>

                  <div class="col-md-2 mobile-xs-6">
                    <div class="g-brd-left g-brd-bottom g-theme-brd-blue-dark-v5 g-py-60 testimonials-img-border img-border-bottom">
                      <a href="http://www.bosc.cn/">
                        <img class="img-fluid g-opacity-0_7 g-opacity-1--hover g-transition-0_2" src="__PUBLIC__/assets/img-temp/Xx72/partner4.png" alt="Image Description">
                      </a>
                    </div>
                  </div>

                  <div class="col-md-2 mobile-xs-6">
                    <div class="g-brd-left g-brd-bottom g-theme-brd-blue-dark-v5 g-py-60 testimonials-img-border img-border-bottom">
                      <a href="https://www.95579.com">
                        <img class="img-fluid g-opacity-0_7 g-opacity-1--hover g-transition-0_2" src="__PUBLIC__/assets/img-temp/Xx72/partner5.png" alt="Image Description">
                      </a>
                    </div>
                  </div>

                  <div class="col-md-2 mobile-xs-6">
                    <div class="g-brd-left g-brd-bottom g-theme-brd-blue-dark-v5 g-py-60 testimonials-img-border img-border-bottom">
                      <a href="http://www.gyxt.com.cn/">
                        <img class="img-fluid g-opacity-0_7 g-opacity-1--hover g-transition-0_2" src="__PUBLIC__/assets/img-temp/Xx72/partner6.png" alt="Image Description">
                      </a>
                    </div>
                  </div>

                  <div class="col-md-2 mobile-xs-6">
                    <div class="g-brd-left g-brd-bottom g-theme-brd-blue-dark-v5 g-py-60 testimonials-img-border img-border-bottom">
                      <a href="http://www.jxi.cn">
                      <img class="img-fluid g-opacity-0_7 g-opacity-1--hover g-transition-0_2" src="__PUBLIC__/assets/img-temp/Xx72/partner7.png" alt="Image Description">
                      </a>
                    </div>
                  </div>

                  <div class="col-md-2 mobile-xs-6">
                    <div class="g-brd-left g-brd-bottom g-theme-brd-blue-dark-v5 g-py-60 testimonials-img-border img-border-bottom">
                      <a href="http://www.sdfae.com">
                        <img class="img-fluid g-opacity-0_7 g-opacity-1--hover g-transition-0_2" src="__PUBLIC__/assets/img-temp/Xx72/partner8.png" alt="Image Description">
                      </a>
                    </div>
                  </div>

                  <div class="col-md-2 mobile-xs-6">
                    <div class="g-brd-left g-brd-bottom g-theme-brd-blue-dark-v5 g-py-60 testimonials-img-border img-border-bottom">
                      <a href="http://www.wxfae.com/">
                        <img class="img-fluid g-opacity-0_7 g-opacity-1--hover g-transition-0_2" src="__PUBLIC__/assets/img-temp/Xx72/partner9.png" alt="Image Description">
                      </a>
                    </div>
                  </div>

                  <div class="col-md-2 mobile-xs-6">
                    <div class="g-brd-left g-brd-bottom g-theme-brd-blue-dark-v5 g-py-60 testimonials-img-border img-border-bottom">
                      <a href="http://www.spicam.cn/">
                        <img class="img-fluid g-opacity-0_7 g-opacity-1--hover g-transition-0_2" src="__PUBLIC__/assets/img-temp/Xx72/partner10.png" alt="Image Description">
                      </a>
                    </div>
                  </div>

                  <div class="col-md-2 mobile-xs-6">
                    <div class="g-brd-left g-brd-bottom g-theme-brd-blue-dark-v5 g-py-60 testimonials-img-border img-border-bottom">
                      <a href="http://www.maikefutures.com/">
                        <img class="img-fluid g-opacity-0_7 g-opacity-1--hover g-transition-0_2" src="__PUBLIC__/assets/img-temp/Xx72/partner11.png" alt="Image Description">
                      </a>
                    </div>
                  </div>

                  <div class="col-md-2 mobile-xs-6">
                    <div class="g-brd-left g-brd-bottom g-theme-brd-blue-dark-v5 g-py-60 testimonials-img-border img-border-bottom">
                      <a href="http://www.singrights.com/">
                        <img class="img-fluid g-opacity-0_7 g-opacity-1--hover g-transition-0_2" src="__PUBLIC__/assets/img-temp/Xx72/partner12.png" alt="Image Description">
                      </a>
                    </div>
                  </div>

                </div>
              </div>
            </div>

          </div>
        </div>
      </section>
      <!-- End 合作商 -->
        <div id="contact" class="g-py-80">
          <div class="container">
            <div class="container text-center g-max-width-750 g-mb-70">
              <div class="text-uppercase u-heading-v2-4--bottom g-brd-primary">
                <h3 class="h3 g-letter-spacing-5 g-font-size-12 g-font-weight-400 g-color-primary g-mb-25">联系我们</h3>
                <h2 class="u-heading-v2__title g-line-height-1 g-letter-spacing-2 g-font-size-30 g-font-size-40--md mb-0 contact-heading-title">我们会第一时间联系您</h2>
              </div>
            </div>

            <div class="row">
              <div class="col-md-9 g-mb-25 g-mb-0--md">
                <form class="cmxform" id="commentForm" method="get" action="">
                <div class="row">
                  <div class="col-sm-6 form-group g-mb-30">
                    <input id="username" name="username" minlength="2" type="text" class="form-control g-font-size-14 g-theme-bg-gray-light-v2 g-brd-none g-rounded-1 g-py-14 g-px-10" type="text" placeholder="姓名">
                    <span class="error-container"></span>
                  </div>

                  <div class="col-sm-6 form-group g-mb-30">
                    <input id="phone" name="phone" class="form-control g-font-size-14 g-theme-bg-gray-light-v2 g-brd-none g-rounded-1 g-py-14 g-px-10" type="tel" placeholder="电话">
                     <span class="error-container"></span>
                  </div>

                  <div class="col-sm-12 form-group g-mb-30">
                    <input id="email" name="email" class="form-control g-font-size-14 g-theme-bg-gray-light-v2 g-brd-none g-rounded-1 g-py-14 g-px-10" type="text" placeholder="邮箱">
                     <span class="error-container"></span>
                  </div>

                 <!--  <div class="col-sm-6 form-group g-mb-30">
                    <input id="inputGroup1_4" class="form-control g-font-size-14 g-theme-bg-gray-light-v2 g-brd-none g-rounded-1 g-py-14 g-px-10" type="text" placeholder="Subject">
                  </div> -->

                  <div class="col-md-12 form-group g-mb-30">
                    <textarea id="comment" name="comment" class="form-control g-resize-none g-font-size-14 g-theme-bg-gray-light-v2 g-brd-none g-rounded-1 g-py-14 g-px-10" rows="4" placeholder="留言"></textarea>
                     <span class="error-container"></span>
                  </div>
                </div>

                <div class="text-center">
                  <input class="btn u-btn-primary btn-md text-uppercase g-line-height-1 g-font-weight-700 g-font-size-11 rounded-0 g-py-12 g-px-25 mb-0" type="submit" value="发送">
                </div>
                </form>
              </div>

              <div class="col-md-3">
                <address class="row text-center">
                  <div class="col-sm-6 col-md-12 g-mb-30 g-mt-30">
                    <i class="icon-directions icon d-inline-block g-font-size-20 g-color-primary g-mb-7"></i>
                    <h3 class="text-uppercase g-font-size-12 g-color-gray-dark-v5 g-font-weight-400 g-mb-5">地址:</h3>
                    <strong class="g-font-size-14 g-color-black contact-heading-address">上海市虹口区杨树浦路138号(星外滩</strong>
                    <br/>
                    <strong class="g-font-size-14 g-color-black contact-heading-address">5号楼)中科招商国际财富中心5楼B座</strong>

                  </div>

                  <div class="col-sm-6 col-md-12 g-mb-30 g-mt-30">
                    <i class="icon-call-in icon d-inline-block g-font-size-20 g-color-primary g-mb-7"></i>
                    <h3 class="text-uppercase g-font-size-12 g-color-gray-dark-v5 g-font-weight-400g-mb-5">联系电话</h3>
                    <strong class="g-font-size-14 g-color-black contact-heading-phone">021-36696812</strong>
                  </div>

<!--                   <div class="col-sm-4 col-md-12">
                    <i class="icon-envelope-open icon d-inline-block g-font-size-20 g-color-primary g-mb-7"></i>
                    <h3 class="text-uppercase g-font-size-12 g-color-gray-dark-v5 g-font-weight-400 g-mb-5">Email</h3>
                    <a class="g-color-black g-color-black--hover" href="mailto:info@unify.com"><strong class="g-font-size-14">info@unify.com</strong></a>
                  </div> -->
                </address>
              </div>
            </div>
          </div>
        </div>


        <div class="text-center g-color-gray-dark-v5 g-theme-bg-blue-dark-v1 g-py-70 bottomimg-bottom">
          <a class="d-block g-width-140 mx-auto g-mb-30" href="#">
            <img class="img-fluid" src="__PUBLIC__/assets/img/JPLOGO.png" alt="Image description">
          </a>
          <a class="d-block g-width-140 mx-auto g-mb-30" href="#" onclick="openewm();">
            <img class="img-fluid" src="__PUBLIC__/assets/img/JPEWM.png" alt="Image description">
          </a>
          <a class="d-block g-width-140 mx-auto g-mb-30" href="http://www.miitbeian.gov.cn">
            <p class="icptext">ICP:沪ICP备17051838号-1</p>
          </a>

        </div>
      </footer>
      <!-- End Footer -->

      <a class="js-go-to u-go-to-v1" href="#!"
         data-type="fixed"
         data-position='{
           "bottom": 15,
           "right": 15
         }'
         data-offset-top="400"
         data-compensation="#js-header"
         data-show-effect="zoomIn">
        <i class="hs-icon hs-icon-arrow-top"></i>
      </a>
    </main>

    <!-- JS Global Compulsory -->
    <script src="__PUBLIC__/assets/vendor/jquery/jquery.min.js"></script>
    <script src="__PUBLIC__/assets/vendor/jquery-migrate/jquery-migrate.min.js"></script>
    <script src="__PUBLIC__/assets/vendor/popper.min.js"></script>
    <script src="__PUBLIC__/assets/vendor/bootstrap/bootstrap.min.js"></script>

    <!-- JS Implementing Plugins -->
    <script src="__PUBLIC__/assets/vendor/appear.js"></script>
    <script src="__PUBLIC__/assets/vendor/slick-carousel/slick/slick.js"></script>
    <script src="__PUBLIC__/assets/vendor/gmaps/gmaps.min.js"></script>

    <!-- JS Unify -->
    <script src="__PUBLIC__/assets/js/hs.core.js"></script>
    <script src="__PUBLIC__/assets/js/components/hs.header.js"></script>
    <script src="__PUBLIC__/assets/js/helpers/hs.hamburgers.js"></script>
    <script src="__PUBLIC__/assets/js/components/hs.scroll-nav.js"></script>
    <script src="__PUBLIC__/assets/js/components/hs.tabs.js"></script>
    <script src="__PUBLIC__/assets/js/components/hs.carousel.js"></script>
    <script src="__PUBLIC__/assets/js/components/gmap/hs.map.js"></script>
    <script src="__PUBLIC__/assets/js/components/hs.go-to.js"></script>

    <!-- JS Customization -->
    <script src="__PUBLIC__/assets/js/custom.js"></script>

    <!-- layermobile -->
    <script src="__PUBLIC__/assets/layer.mobile-v2.0/layer_mobile/layer.js"></script>

    <script src="http://static.runoob.com/assets/jquery-validation-1.14.0/dist/jquery.validate.min.js"></script>

<script>
jQuery.validator.addMethod("isMobile", function(value, element) {  
      var length = value.length;  
      var regPhone = /^1([3578]\d|4[57])\d{8}$/;  
      return this.optional(element) || (length == 11 && regPhone.test(value));    
}, "请正确填写您的手机号码");  
$('#commentForm').validate({
    rules: {
      username: {
        required: true,
        minlength: 2
      },
      phone: {
        required: true,
        isMobile: true
      },
      // email: {
      //   email: true
      // },
    },
    messages: {
      username: {
        required: "请输入用户名",
        minlength: "用户名必需由两个字母组成"
      },
      phone: {
        required: "此项为必填项",
        isMobile: "请填写11位手机号码"
      },
      // email: {
      //   email: "请填写正确的邮箱"
      // }
    },

    // ignore: '.ignore',
    errorPlacement: function(error, element) {
      error.appendTo(element.closest('.form-group').find('.error-container'));
    },


    submitHandler:function(form) {
	   
        emailsht();
    }
  });

function emailsht(){
     //loading带文字
			  layer.open({
			    shadeClose: false,
				type: 2,
				content: '发送中',
				time:2
			  });
			  
			  
			 
	
    //姓名
    var name = $("#username").val();

    //电话
    var phone = $("#phone").val();

    //邮箱
    var email = $("#email").val();

    //留言
    var message = $("#comment").val();

    $.ajax({
        type:"post",
        url:"__CONTROLLER__/emails",
        dataType:"json",
        data:{name:name,phone:phone,email:email,message:message},
        success:function(data) {
            console.log(data);
            

            if(data == 1){
 
                layer.open({
                    content: '邮件发送成功',
                    skin: 'msg',
                    time:2
                });
            }else{
                layer.open({
                    content: '邮件发送失败!!!',
					skin: 'msg',
                    time:2
                });
            }
        }
    });
}
</script>
	<!-- 发送邮箱 -->
    <script>
	     
  //   function emails(){
	

        
		// //姓名
		// var name = $("#inputGroup1_1").val();
		
		// //电话
		// var phone = $("#inputGroup1_2").val();
		
		// //邮箱
		// var email = $("#inputGroup1_3").val();
		
		// //留言
  //       var message = $("#inputGroup1_5").val();
       
  //      $.ajax({
  //           type:"post",
  //           url:"__CONTROLLER__/emails",
  //           dataType:"json",
  //           data:{name:name,phone:phone,email:email,message:message},
  //           success:function(data){
  //              console.log(data);
			   
		// 	   if(data == 1){
		// 	      alert("邮件发送成功!!!");
		// 	   }
               
  //           }


  //      });

  //  }
	</script>
	
	
	
	
	
	
	
    <script>
      function openewm(){
        var imgblock = '<img src="__PUBLIC__/assets/img/BigJPEWM.png">'
         layer.open({
          content: imgblock
        });
      }
    </script>
    <!-- JS Plugins Init. -->
    <script>
      // initialization of google map
      function initMap() {
        $.HSCore.components.HSGMap.init('.js-g-map');
      }

      $(document).on('ready', function () {
        // initialization of carousel
        $.HSCore.components.HSCarousel.init('.js-carousel');

        // initialization of header
        $.HSCore.components.HSHeader.init($('#js-header'));
        $.HSCore.helpers.HSHamburgers.init('.hamburger');

        // initialization of tabs
        $.HSCore.components.HSTabs.init('[role="tablist"]');

        // initialization of go to section
        $.HSCore.components.HSGoTo.init('.js-go-to');

        $('#processes [role="tablist"] .nav-link').on('click', function () {
          setTimeout(function () {
            $('#processesTabs .js-carousel').slick('setPosition');
          }, 200);
        });
      });

      $(window).on('load', function() {
        // initialization of HSScrollNav
        $.HSCore.components.HSScrollNav.init($('.js-scroll-nav'), {
          duration: 700
        });
      });

      $(window).on('resize', function () {
        setTimeout(function () {
          $.HSCore.components.HSTabs.init('[role="tablist"]');
        }, 200);
      });
    </script>

    <!-- <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAtt1z99GtrHZt_IcnK-wryNsQ30A112J0&callback=initMap" async></script> -->
  </body>
</html>
